#header {
    background-color: rgba(0, 0, 0, 0.9);
    padding-left: 6.5%;
    padding-right: 6.5%;
  }
  
  #logo h1 {
    font-size: 1.7em;
  }
  
  #logo a {
    color: #ffcb2f;
  }
  
  #logo a:hover {
    color: #dcaf25;
    text-decoration: none;
  }
  
  #menu  ul {
    list-style: none;
  }
  
  #menu li {
    text-align: center;
    cursor: pointer;
  }
  
  #menu a {
    color: white;
    text-decoration: none;
  }
  
  #menu span {
    display: block;
    transition: all 0.3s;
    font-size: 14px;
  }
  
  #menu i {
    font-size: 18px;
    transition: all 0.3s;
  }
  
  @media only screen and (max-width:1024px){
    .no-mobile{
        display:none;
    }
}