
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

#header { 
    min-height: 63px;   
    background-color: var(--secundary);
    padding-bottom:5px;
}

.headerCol1 { 
    padding-left: 6%;
    padding-top:13px;
}
 

.headerCol1 h1 {
    color: var(--primary);
    font-size: 2em;
    cursor: default;
}



.headerCol2 { 
    padding-right: 6%;
    padding-top:15px; 
}

.headerCol2 input {
    height: 33px;
    text-indent: 5px;
    /*width: 220px;*/
    border-radius: 2px;
    border: thin solid #ffcb2f36;
    outline: none;
}

.headerCol2 a {
    font-size: 12px;
    color: white;
}


.btnEntrar {
    width: 105px;
    height: 33px;
    border: none;
    font-size: 15px;
    font-weight: bold;
    color: white;
    border-radius: 2px;
    cursor: pointer;
    background-color: #e8bd63;
    outline:none !important;
}

#content{
    padding-top:20px;
}
 
 

.contentCol1{
    background-image: url("../img/3081627.jpg");
    background-repeat: no-repeat;
    background-size:100%;
    background-position:0px 95px;
}


.contentCol2-escolheUser {
    color:#ffcb2f;
    font-weight: bold; 
}

.contentCol2-escolheUser select {
    
    height: 45px;
    text-indent: 5px;
    font-size: 14px;
}

.formEmpreendedor{ 
    display:none;
    transition:1s all;
    padding-bottom:40px;
}


.btnFazerParte{
    border:none;
    outline: none  !important;
    width:150px;
    height:40px;
    color:white;
    background-color:#e8bd63;
    border-radius:2px;
    margin:auto;
    display: block;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
}

.formInvestidor{
    display: none;
    transition:1s all;
    padding-bottom:40px;
}

.formShow{
    display:block;
    transition:1s all;
}

.formEmpreendedor div{
 margin-bottom: 12px;
}
.busnessType div{
    margin-bottom: 1px;
}

 

.content-btn-fazer-parte{
    margin-top:27px; 
}

.typeNormal,.formEmpreendedor select{
    /*width: 100%;*/
    height: 45px;
    text-indent:5px;
}

.formEmpreendedor input[type=file]{
  display: none;
}

.btn-select-file-emp,.btn-select-file-inv{
    cursor:pointer;
    padding-top:10px;
    padding-bottom:2%;
    height:39px; 
    color:white;
    background-color:rgba(0, 0, 0, 0.9);
    display: inline-block;
    text-align: center;
    border-radius:2px;
}

.content-my-input-file-emp,.content-my-input-file-inv{
    display:flex;
}
.content-my-input-file-emp div , .content-my-input-file-inv div{
    width:70%;
}

#my-input-file-disabled-emp{
    height:39px; 
    text-indent:4px;
}
 

.inputShow{
    display:block;
}

.label_emp{
    display: block;
    margin-bottom: 3px;
    color:grey;
    font-size:15px;
}
 

.formEmpreendedor input{
 text-indent:5px;
}

.message_error{
    display:none;
}

.formInvestidor div{
    margin-bottom: 13px;
}

.yesForStyle{
    height:39px; 
}

.formInvestidor input[type="file"]{
    /*display:none;*/
}

.formInvestidor input{
    text-indent:5px;
   }

 

.label_inv{
    display: block;
    margin-bottom:3px;
    color:grey;
    font-size:15px;
}

.myBtnFile{
    cursor:pointer;
    padding-top:10px;
    padding-bottom:2%;
    height:39px; 
    color:white;
    background-color:rgba(0, 0, 0, 0.9);
    display: inline-block;
    text-align: center;
    border-radius:2px;
}
.extratoFileAux{
    height:39px;
   
    text-indent:5px;
}

.dizeres{
    font-size:25px;
    font-weight: lighter;
    color:black;
}


 
#pitch p{
    margin-bottom:-1px;
}

.elevator{
   font-size:15px;
   border:thin;
   border-bottom:2px solid #ccc;
   width:100%;
}
.elevator:focus{
    outline: none;
}

.formEmpreendedor p{
    font-weight: bold;
}

.message_error{
    font-size:13px;
    color:rgba(255, 0, 0, 0.5);
}

footer{
    min-height: 100px;
    text-align:center;
    background-color:#e5eaedad;
    padding-top:15px;
    padding-bottom:15px;
}

footer a{
    color:rgb(80, 109, 153);
}

@media only screen and  (min-width:310px) and (max-width:360px){
    .btn-select-file-emp,.btn-select-file-inv{
        font-size:12px;
        width:30%;
    }
}
    @media only screen and (max-width:309px){
        .btn-select-file-emp,.btn-select-file-inv{
            font-size:10px;
            width:30%;
        }

        #my-input-file-disabled-emp{
            font-size:12px;
        }
}

@media only screen  and  (min-width:361px) and (max-width:575px){
    .btn-select-file-emp,.btn-select-file-inv{
        font-size:14px;
        width:30%;
    }
 
}

@media only screen  and  (min-width:576px) and (max-width:730px){
    .contentCol1 p,.contentCol1 li{
        font-size:17px; 
    }
 
}

@media only screen  and  (min-width:577px){
#content{
    padding-left:5.5%;
    padding-right:5.5%;
}
}

@media only screen  and  (min-width:768px) and (max-width:865px){
    .btn-select-file-emp,.btn-select-file-inv{
        font-size:13px; 
        width:32%;
    }
 
}

@media only screen  and  (min-width:911px){
    .btn-select-file-emp,.btn-select-file-inv{
        font-size:15px;
        width:30%;
    }
}

