* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }

  #intro-rodada h6{
    font-size: 1.5rem;
    font-weight: bold;
  }

  .table th {
    border-top: none !important;
    font-weight: 200;
    color: #6c757d;
  }

  .btn-eliminar-contrato-alert{
    border:none;
    outline:none;
  }

  .btn-eliminar-contrato-alert:focus{
    border:none;
    outline:none;
  }



  @media (max-width: 846px) {
    #intro-rodada h6, #intro-rodada h5{
      text-align: center;
    }
  }

  @media (min-width:576px) and (max-width:1024px){
   .card-investor-rodada div{
    max-width: 100% !important;
   }
  }