* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

#content-intro-startup {
  display: flex;
  align-items: center;

  padding: 15px; background: #f8f9fa; border-radius: 8px; border: 1px solid #e0e0e0; box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

#content-finalidades-investimento li {
  display: inline-block;
  margin-right: 10px;
}
.btn-anular-rodada{
  border:none;
  outline:none;
}
.btn-anular-rodada:focus{
  border:none;
  outline:none;
}
.btn-editar {
  height: 30px;
  font-size: 12px;
  border: none;
  background-color: #ccc;
  border-radius: 30px;
}

.btn-editar:hover {
  border: none;
  background-color: rgba(187, 184, 184, 0.911);
}

.btn-editar:focus {
  border: none;
  outline: none;
  box-shadow: none;
  background-color: #ccc;
}

.btn-editar:not(:disabled):active:focus:focus {
  box-shadow: none;
  background-color: #ccc;
}

.group-nome-sobrenome {
  min-height: 92px;
  margin-bottom: -3px;
}

#content-form-adicionar-formacao > div {
  min-height: 92px;
}

#content-form-adicionar-formacao > div:last-child {
  min-height: 40px !important;
}

.my-select-input {
  position: absolute;
  list-style: none;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #333;
  border-right: 1px solid #333;
  background-color: #fff;
  width: 100%;
  box-shadow: 0px 2px 5px 0px #ccc;
}

.my-select-input li {
  padding: 3px 5px;
  transition: all 0.2s;
  height: 28px;
  font-size: 14px;
}

.my-select-input li a {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.my-select-input li:hover {
  background-color: #007bff;
  color: white;
  transition: all 0.2s;
}
/*-----------------------------------------*/
#content-form-adicionar-experiencia > div {
  min-height: 92px;
}

#content-form-adicionar-experiencia > div:last-child {
  min-height: 40px !important;
}

#btn-meeting {
  border-radius: 12px;
}

#header-popup-chat {
  width: 100%;
  border: none;
  background-color: black;
  border-radius: 4px 4px 0px 0px;
  color: white;
  padding: 10px;
  margin-bottom: 0px;
  display: flex;
  justify-content: space-between;
}

#popup-chat {
  background-color: #fff;
  font-weight: 500;
  font-size: 18px;
  cursor: pointer;
  opacity: 1;
  z-index: 10;
  position: fixed;
  bottom: 5px;
  right: 0.5%;
  width: 35%;
  height: 450px;
  box-shadow: 0 0.46875rem 2.1875rem rgb(90 97 105 / 10%),
    0 0.9375rem 1.40625rem rgb(90 97 105 / 10%),
    0 0.25rem 0.53125rem rgb(90 97 105 / 12%),
    0 0.125rem 0.1875rem rgb(90 97 105 / 10%);
}

#textarea {
  resize: none;
  border: none;
  display: block;
  width: 100%;
  height: 80px;
  border-radius: 3px;
  padding: 20px;
  font-size: 13px;
  margin-bottom: 13px;
  background: #e6e6e6;
}

#chat {
  padding-left: 0;
  margin: 0;
  list-style-type: none;
  overflow-y: scroll;
  height: 255px;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
}
#chat li {
  padding: 10px 30px;
}
#chat h2,
#chat h3 {
  display: inline-block;
  font-size: 13px;
  font-weight: normal;
}
#chat h3 {
  color: #bbb;
}
#chat .entete {
  margin-bottom: 5px;
}
#chat .message {
  padding: 20px;
  color: #fff;
  line-height: 25px;
  max-width: 90%;
  display: inline-block;
  text-align: left;
  border-radius: 5px;
  font-size: 15px;
}
#chat .me {
  text-align: right;
}
#chat .you .message {
  background-color: #58b666;
}
#chat .me .message {
  background-color: #6fbced;
}

#chat .me .entete::after {
  content: '';
  position: relative;
  top: 4px;
  right: 20px;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #6fbced transparent;
}

#chat .triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 10px 10px;
}
#chat .you .triangle {
  border-color: transparent transparent #58b666 transparent;
  margin-left: 15px;
}
#chat .me .triangle {
  border-color: transparent transparent #6fbced transparent;
  margin-left: 335px;
}

#btn-enviar-popup-chat {
  font-size: 15px;
  background-color: var(--primary);
  color: var(--secundary-button);
  float: right;
}

#btn-spinner-oferta {
  display: none;
}

#btn-spinner-investir {
  display: none;
}

.mobile-table {
  display: none;
}

/*FORMULÁRIO CADASTRO DA RODADA*/

.form-rodada-container .progress-container {
  margin-bottom: 20px;
}

.form-rodada-container .progress-bar {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
}

.form-rodada-container .step {
  display: none;
}

.form-rodada-container .step.active {
    display: block;
}

.form-rodada-container .step .left {
  animation: slideLeft 0.5s;
}

.form-rodada-container .step .right {
  animation: slideRight 0.5s;
}

.form-rodada-container .progress-steps {
  color: #6c757d;
}

.form-rodada-container .step-number {
  font-size: 0.5rem;
  color: #6c757d;
  transition: color 0.3s ease-in-out;
}


.form-rodada-container .step-number .current {
  color: #007bff;
}
@keyframes slideLeft {
  from {
      transform: translateX(100%);
      opacity: 0;
  }
  to {
      transform: translateX(0);
      opacity: 1;
  }
}

@keyframes slideRight {
  from {
      transform: translateX(-100%);
      opacity: 0;
  }
  to {
      transform: translateX(0);
      opacity: 1;
  }
}
/*RESPONSE*/

@media (max-width: 1024px) {
  #popup-chat-container {
    display: none;
  }
  #btn-meeting {
    display: none;
  }
}
@media (max-width: 946px) {
  #content-oferta {
    flex-direction: column;
  }

  #content-oferta > div {
    max-width: 100% !important;
  }

  .card video {
    height: 100% !important;
  }
}
@media (max-width: 508px) {
  .mobile-table {
    display: table-row;
  }
  .no-mobile-table {
    display: none;
  }
  #content-intro-startup {
    display: block;
  }
  #content-intro-startup > div {
    margin-left: auto;
    margin-right: auto;

    text-align: center;
  }
  #nome-startup-intoducao {
    display: block;
  }

  #btn-startup-intoducao {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
  }

  #btn-startup-intoducao button {
    margin-bottom: 10px;
  }

  #btn-startup-intoducao a {
    margin-bottom: 10px;
  }
}
